*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title{
    color: black;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.card {
    width: 600px;
    padding: 1rem;
    border-radius: .5rem;
    margin: 0 auto;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    font-weight: 500;
    letter-spacing: .2rem;
    flex-grow: 1;
    font-size: 1.1rem;
}

.input-group input {
    padding: .5rem .2rem;
    letter-spacing: .1rem;
    border: none;
    border-bottom: 1px solid grey;
    flex-grow: 4;
    font-size: 1.1rem;
}

.input-group input:focus{
    outline: none;
}

.btn {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    border: none;
    text-transform: uppercase;
    border-radius: .5rem;
    margin: 0 auto;
    opacity: .7;
    transition: .3s;
    text-align: center;
}

a.btn{
    text-decoration: none;
}

.btn:hover{
    opacity: 1;
}

.btn-save, .btn-add {
    width:  6rem;
    padding: .6rem .5rem;
    margin-top: 1rem;
}

.btn-add{
    background-color: rgb(201, 255, 201);
    color: rgb(0, 255, 0);
}

.btn-save {
    background-color: rgb(185, 199, 255);
    color: rgb(0, 17, 255);
}

.btn-edit, .btn-delete{
    padding: .5rem;
}

.btn-edit{
    background-color: rgb(255, 255, 227);
    color: rgb(255, 255, 0);
    margin-bottom: .5rem;
}

.btn-delete{
    background-color: rgb(255, 224, 224);
  color: rgb(255, 0, 0);
}

.btn-add-new {
    background-color: rgb(255, 210, 173);
    color: rgb(255, 115, 0);
}

.btn-to-list{
    background-color: rgb(255, 213, 198);
    color: rgb(255, 68, 0);
}

.btn-page {
    padding: 0.5rem 1rem;
    width: 12rem;
    margin-bottom: 2rem;
}

.wrapper-task-item{
    padding: .5rem .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: .5rem;
}

.wrapper-task-item p{
    flex-grow: 4;
    font-size: 1.1rem;
    letter-spacing: .2rem;
}

.wrapper-task-item .wrapper-action{
    flex-wrap: 1;
}

