<h1 class="title">form edit task</h1>
<div class="card">
    <form action="" method="post">
        <div class="input-group">
            <label for="">Task</label>
            <input type="text" value="">
        </div>
        <button type="submit" class="btn btn-save">Save</button>
    </form>
</div>