<h1 class="title">form add new task</h1>
<a href="/" class="btn btn-page btn-to-list">Task List</a>
<div class="card">
    <form action="" method="post">
        <div class="input-group">
            <label for="">Task</label>
            <input type="text" name="task" id="in">
        </div>
        <button type="submit" class="btn btn-add">add</button>
    </form>
</div>