<h1 class="title">form edit task</h1>
<div class="card">
    <% task.forEach(tsk => { %>
        <form action="/edit/<%= tsk._id %>" method="post">
            <div class="input-group">
                <label for="name">Task</label>
                <input id="name" name="name" type="text" value="<%= tsk.name %>">
            </div>
            <button type="submit" class="btn btn-save">Save</button>
        </form>
    <% }) %>
</div>