<h1 class="title">List All Task</h1>
<a href="/add" class="btn btn-page btn-add-new">add new task</a>
<div class="card">
    <div class="list-task">
        <div class="wrapper-task-item">
            <p>lorem ipsum lorem lremsdjksjd sjdksjkdjsk ldksldk </p>
            <div class="wrapper-action">
                <a href="#" class="btn btn-edit">edit</a>
                <a href="#" class="btn btn-delete">delete</a>
            </div>
        </div>
    </div>
</div>