<h1 class="title">List All Task</h1>
<div class="card">
    <div class="list-task">
        <div class="wrapper-task-item">
            <p>lorem ipsum lorem lremsdjksjd sjdksjkdjsk ldksldk </p>
            <div class="wrapper-action">
                <a href="#">edit</a>
                <a href="#">delete</a>
            </div>
        </div>
    </div>
</div>