<h1 class="title">List All Task</h1>
<a href="/add" class="btn btn-page btn-add-new">add new task</a>
<div class="card">
    <div class="list-task">
        <% tasks.forEach(task => { %>
            <div class="wrapper-task-item">
                <p><%= task.name %> </p>
                <div class="wrapper-action">
                    <a href="/edit/<%= task._id %>"   class="btn btn-edit">edit</a>
                    <a href="/delete/<%= task._id %>" class="btn btn-delete" onclick="return confirm('Hapus <%= task.name %>?')">delete</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>